<div class="col-md-4" *ngFor="let card of cards.todos; let i = index" [attr.data-index]="i">
  <div class="card mt-4">
    <div class="card-header">
      <h3>{{card.titulo}}</h3>
      <span class="badge badge-pill badge-danger ml-2">
        {{card.prioridad}}
      </span>
    </div>
    <div class="card-body">
      <p>{{card.descripcion}}</p>
      <p><mark>{{card.responsable}}</mark></p>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="removeCard(i)">
      Eliminar
      </button>
    </div>
  </div>
</div>
