<div class="card">
  <form class="card-body" [formGroup]="cardForm" novalidate (ngSubmit)="saveCard(cardForm.value, cardForm.valid)">
      <div class="form-group">
          <input
              type="text"
              name="titulo"
              placeholder="Titulo"
              formControlName="titulo"
              class="form-control"
          />
      </div>
      <div class="form-group">
          <input
              type="text"
              name="responsable"
              formControlName="responsable"
              placeholder="Responsable"
              class="form-control"
          />
      </div>
      <div class="form-group">
      <input
          type="text"
          name="descripcion"
          placeholder="Descripcion"
          formControlName="descripcion"
          class="form-control"
          />
      </div>
      <div class="form-group">
          <select
              name="prioridad"
              formControlName="prioridad"
              class="form-control"
          >
              <option>baja</option>
              <option>media</option>
              <option>alta</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">
          Agregar Tarea
      </button>
  </form>
</div>
